<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.ico" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Spano Book Notes</title>
  </head>
  <body>
    <div class="container">
      <%- include('partials/header.ejs') %>

      <h2>FAQ</h2>
      <div class="br">
        This page answers some frequently asked questions about the book notes
        and the website.
      </div>

      <div>UNDER CONSTRUCTION</div>

      <%- include('partials/footer.ejs') %>
    </div>
  </body>
</html>
