@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.addEdit_book_form {
  display: grid;
  grid-template-areas:
    "title title title"
    "author author isbn"
    "amazon_link date_read rating"
    "summary summary summary"
    "notes notes notes"
    "admin_password admin_password admin_password"
    "error_msg error_msg error_msg"
    "image_link image_link image_link"
    "submit submit submit";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem 2rem;
}

.title {
  grid-area: title;
}

.author {
  grid-area: author;
}

.isbn {
  grid-area: isbn;
}

.amazon_link {
  grid-area: amazon_link;
}

.date_read {
  grid-area: date_read;
}

.rating {
  grid-area: rating;
}

.summary {
  grid-area: summary;
}

.notes {
  grid-area: notes;
}

.admin_password {
  grid-area: admin_password;
}

.error_msg {
  grid-area: error_msg;
}

.image_link {
  grid-area: image_link;
  margin-bottom: 2rem;
}

.button {
  grid-area: submit;
}

.form_input {
  display: flex;
  flex-direction: column;
  & label {
    color: #666;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
  }
  & input {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border: 2px solid #bbb;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px #000;
  }
  & input:focus {
    outline: none;
    border: 2px solid #333;
    box-shadow: 1px 1px 5px #000;
  }
  & textarea {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border: 2px solid #bbb;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px #000;
    resize: vertical;
  }
  & textarea:focus {
    outline: none;
    border: 2px solid #333;
    box-shadow: 1px 1px 5px #000;
  }
}
