@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0 1rem;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0 0 0;
}

nav > a {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: #333;
  padding-left: 2rem;
  border-left: #333 solid 2px;
}

nav > a:hover {
  color: #333;
  text-decoration: underline;
}

.h1 {
  font-size: 1.75rem;
  font-weight: 800;
  color: #333;
  text-decoration: none;
  padding: 0;
  border: none;
}

.br {
  padding-bottom: 1rem;
  border-bottom: #bbb solid 2px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

a {
  color: #37a;
  text-decoration: none;
}

a:hover {
  color: #3aa;
  text-decoration: underline;
}

.grid_container {
  display: grid;
  grid-template-areas: "image content";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.grid_container > img {
  width: 100%;
  grid-area: image;
}

.grid_content {
  grid-area: content;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 1rem;
  margin: 0;
}

.add_book_form {
  display: grid;
  grid-template-areas:
    "title title title"
    "author author isbn"
    "amazon_link date_read rating"
    "summary summary summary"
    "notes notes notes"
    "admin_password admin_password admin_password"
    "error_msg error_msg error_msg"
    "image_link image_link image_link"
    "submit submit submit";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem 2rem;
}

.title {
  grid-area: title;
}

.author {
  grid-area: author;
}

.isbn {
  grid-area: isbn;
}

.amazon_link {
  grid-area: amazon_link;
}

.date_read {
  grid-area: date_read;
}

.rating {
  grid-area: rating;
}

.summary {
  grid-area: summary;
}

.notes {
  grid-area: notes;
}

.admin_password {
  grid-area: admin_password;
}

.error_msg {
  grid-area: error_msg;
  font-size: 1.1rem;
  font-weight: 600;
  color: #d00;
  margin-top: 2rem;
}

.image_link {
  grid-area: image_link;
  margin-bottom: 2rem;
}

.submit {
  grid-area: submit;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  background-color: none;
  padding: 0.75rem;
  border: 3px solid #333;
  border-radius: 9999px;
}

.submit:hover {
  color: #fff;
  background-color: #333;
  border: 3px solid #333;
}

.add_book_form_input {
  display: flex;
  flex-direction: column;
  & label {
    color: #666;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
  }
  & input {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border: 2px solid #bbb;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px #000;
  }
  & input:focus {
    outline: none;
    border: 2px solid #333;
    box-shadow: 1px 1px 5px #000;
  }
  & textarea {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border: 2px solid #bbb;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px #000;
    resize: vertical;
  }
  & textarea:focus {
    outline: none;
    border: 2px solid #333;
    box-shadow: 1px 1px 5px #000;
  }
}
